Service:
  RegionId: cn-hangzhou
  DeployType: ros
  OperationMetadata:
    StatusOperationConfigs:
    - TemplateName: ECS单机版
      SupportOperations:
      - Start
      - Stop
      - Restart
    - TemplateName: ACS集群版
      SupportOperations:
      - Start
      - Stop
      - Restart
    - TemplateName: 选择已有ACK/ACS集群
      SupportOperations:
      - Start
      - Stop
      - Restart
  DeployMetadata:
    ServiceInstanceNameRule:
      Prefix: comfyui-
      UseDefaultValue: true
    SupplierDeployMetadata:
      SupplierTemplateConfigs:
      - Name: ECS单机版
        Url: ros_templates/template.yaml
        ArchitectureDiagramUrl: resources/architecture/architecture.jpg
        AllowedRegions:
        - ap-southeast-1
        - cn-beijing
        - cn-wulanchabu
        - cn-shanghai
        - cn-shenzhen
        - cn-guangzhou
        - cn-hongkong
        - ap-northeast-1
        - ap-northeast-2
        - ap-southeast-7
        - eu-central-1
        PredefinedParameters:
        - Name: 试用套餐
          Parameters:
            EcsInstanceType:
            - ecs.gn7i-c8g1.2xlarge
            VpcOption: ExistingVPC
          OrderList:
          - EcsInstanceType
          - VpcOption
          TrialType: TrialOnly
          Type: Normal
      - Name: ACS集群版
        Url: ros_templates/final_template.yaml
        ArchitectureDiagramUrl: resources/architecture/architecture-cluster.png
        AllowedRegions:
        - ap-southeast-1
        - cn-hangzhou
        - cn-beijing
        - cn-shanghai
      - Name: 选择已有ACK/ACS集群
        Url: ros_templates/exist_template.yaml
        ArchitectureDiagramUrl: resources/architecture/architecture-cluster.png
        AllowedRegions:
        - ap-southeast-1
        - cn-hangzhou
        - cn-beijing
        - cn-shanghai
      ArtifactRelation:
        ecs_image-comfy-ui:
          ArtifactId: ${Artifact.EcsImage.ArtifactId}
          ArtifactVersion: draft
        ecsImage-wanx22:
          ArtifactId: ${Artifact.EcsImage2.ArtifactId}
          ArtifactVersion: draft
        ecs_image-qwen-image:
          ArtifactId: ${Artifact.EcsImageQwen.ArtifactId}
          ArtifactVersion: draft
      FileArtifactRelation:
        '{{ computenest::file::kubectl }}':
          ArtifactId: ${Artifact.KubectlFile.ArtifactId}
          ArtifactVersion: draft
        '{{ computenest::file::wanx-resource }}':
          ArtifactId: ${Artifact.WanxResource.ArtifactId}
          ArtifactVersion: draft
        '{{ computenest::file::ossutil }}':
          ArtifactId: ${Artifact.OssutilFile.ArtifactId}
          ArtifactVersion: draft
    TemplateConfigs:
    - Name: ECS单机版
      Url: ros_templates/template.yaml
      ArchitectureDiagramUrl: resources/architecture/architecture.jpg
      AllowedRegions:
      - ap-southeast-1
      - cn-beijing
      - cn-wulanchabu
      - cn-shanghai
      - cn-shenzhen
      - cn-guangzhou
      - cn-hongkong
      - ap-northeast-1
      - ap-northeast-2
      - ap-southeast-7
      - eu-central-1
      PredefinedParameters:
      - Name: 试用套餐
        Parameters:
          EcsInstanceType:
          - ecs.gn7i-c8g1.2xlarge
          VpcOption: ExistingVPC
        OrderList:
        - EcsInstanceType
        - VpcOption
        TrialType: TrialOnly
        Type: Normal
      TrialHiddenParameterKeys:
      - VpcId
      - PayPeriod
      - VSwitchId
      - PayPeriodUnit
      - PayType
      CreateFromExistInstanceParameterKeys:
      - VpcId
      - PayPeriod
      - VSwitchId
      - VpcOption
      - PayPeriodUnit
      - PayType
      DeployScene: ECS
      OutputConfigs:
      - OutputKey: comfyui_address
        EnableWebProxy: true
    - Name: ACS集群版
      Url: ros_templates/final_template.yaml
      ArchitectureDiagramUrl: resources/architecture/architecture-cluster.png
      AllowedRegions:
      - ap-southeast-1
      - cn-hangzhou
      - cn-beijing
      - cn-shanghai
      OutputConfigs:
      - OutputKey: comfyui_address
        EnableWebProxy: true
    - Name: 选择已有ACK/ACS集群
      Url: ros_templates/exist_template.yaml
      ArchitectureDiagramUrl: resources/architecture/architecture-cluster.png
      AllowedRegions:
      - ap-southeast-1
      - cn-hangzhou
      - cn-beijing
      - cn-shanghai
      OutputConfigs:
      - OutputKey: comfyui_address
        EnableWebProxy: true
  ServiceType: private
  ServiceInfo:
  - Locale: zh-CN
    Name: ComfyUI社区版
    ShortDescription: 最强大的开源节点式生成式AI应用，支持创建图像、视频及音频内容。依托前沿开源模型实现视频与图像生成。
    Image: 
      https://service-info-public.oss-cn-hangzhou.aliyuncs.com/1853370294850618/cn-hangzhou/service_logofc4ed98586634778b255.png
    Softwares:
    - name: comfyui
      version: 0.3.49


      Version: v0.6.0
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: "ecs_image-comfy-ui"
    Description: ComfyUI WanX-2.1(I2V-14B,T2V-14B,VACE-1.3B and I2V-1.3B) 镜像，预装 
      ComfyUI 环境
    SupportRegionIds:
    - ap-southeast-1
    - cn-beijing
    - cn-wulanchabu
    - cn-shanghai
    - cn-shenzhen
    - cn-guangzhou
    - cn-hongkong
    - cn-hangzhou
    - ap-northeast-1
    - ap-northeast-2
    - ap-southeast-7
    - eu-central-1
    - us-west-1
    ArtifactProperty:
      RegionId: ap-southeast-1
    ArtifactBuildProperty:
      EnableGpu: true
      RegionId: ap-southeast-1
      SourceImageId: "m-t4naf7w95vrx5stifbd9"
      SystemDiskSize: 250
      CommandType: RunShellScript
      CommandContent: |-
        sudo yum install zstd --disablerepo=nvidia-container-toolkit --disablerepo=nvidia-container-toolkit-experimental -y
        curl -o ossutil-2.1.2-linux-amd64.zip https://gosspublic.alicdn.com/ossutil/v2/2.1.2/ossutil-2.1.2-linux-amd64.zip
        unzip ossutil-2.1.2-linux-amd64.zip
        cd ossutil-2.1.2-linux-amd64
        chmod 755 ossutil
        sudo mv ossutil /usr/local/bin/ && sudo ln -s /usr/local/bin/ossutil /usr/bin/ossutil
        ossutil
        git clone https://github.com/aliyun-computenest/comfy-ui.git
        cd comfy-ui/
        sed -i 's/pull_policy: always/pull_policy: if_not_present/g' comfy/docker-compose.yaml
        docker compose -f comfy/docker-compose.yaml build --no-cache 2>&1 | stdbuf -oL grep -viE 'Downloading|sha256|extracting|KiB|Downloaded';
        docker compose up -d;
        sleep 20;
        docker compose down;

  EcsImage2:
    ArtifactType: EcsImage
    ArtifactName: "ecsImage-wanx22"
    Description: ComfyUI WanX-2.2(I2V-14B,T2V-14B,ti2v-5B) 镜像，预装 ComfyUI 环境
    SupportRegionIds:
    - ap-southeast-1
    - cn-beijing
    - cn-wulanchabu
    - cn-shanghai
    - cn-shenzhen
    - cn-guangzhou
    - cn-hongkong
    - cn-hangzhou
    - ap-northeast-1
    - ap-northeast-2
    - ap-southeast-7
    - eu-central-1
    - us-west-1
    ArtifactProperty:
      RegionId: ap-southeast-1
    ArtifactBuildProperty:
      EnableGpu: true
      RegionId: ap-southeast-1
      SourceImageId: "m-t4n31aqxq7nspdkha3ae"
      SystemDiskSize: 450
      CommandType: RunShellScript
      CommandContent: |-
        git clone https://github.com/aliyun-computenest/comfy-ui.git
        cd comfy-ui/
        sed -i 's/pull_policy: always/pull_policy: if_not_present/g' comfy/docker-compose.yaml
        docker compose -f comfy/docker-compose.yaml build --no-cache 2>&1 | stdbuf -oL grep -viE 'Downloading|sha256|extracting|KiB|Downloaded';
        docker compose up -d;
        sleep 20;
        docker compose down;

  EcsImageQwen:
    ArtifactType: EcsImage
    ArtifactName: "ecs_image-qwen-image"
    Description: ComfyUI Qwen-Image 镜像，预装 ComfyUI 和 Qwen-Image 模型环境
    SupportRegionIds:
    - ap-southeast-1
    - cn-beijing
    - cn-wulanchabu
    - cn-shanghai
    - cn-shenzhen
    - cn-guangzhou
    - cn-hongkong
    - cn-hangzhou
    - ap-northeast-1
    - ap-northeast-2
    - ap-southeast-7
    - eu-central-1
    - us-west-1
    ArtifactProperty:
      RegionId: us-west-1
    ArtifactBuildProperty:
      EnableGpu: true
      RegionId: us-west-1
      SourceImageId: "m-rj9hztrcp8hos70lyxns"
      SystemDiskSize: 250
      CommandType: RunShellScript
      CommandContent: |-
        #!/bin/bash
        rm -rf comfy-ui/
        git clone https://github.com/aliyun-computenest/comfy-ui.git
        cd comfy-ui/
        sed -i 's/pull_policy: always/pull_policy: if_not_present/g' comfy/docker-compose.yaml
        docker compose -f comfy/docker-compose.yaml down
        docker compose -f comfy/docker-compose.yaml build --no-cache 2>&1 | stdbuf -oL grep -viE 'Downloading|sha256|extracting|KiB|Downloaded';
        docker compose up -d;
        sleep 20;
        docker compose down;

  KubectlFile:
    ArtifactType: File
    ArtifactName: kubectl_linux
    Description: kubectl linux amd64
    ArtifactProperty:
      Url: resources/artifact_resources/file/kubectl

  WanxResource:
    ArtifactType: File
    ArtifactName: wanx-resource
    Description: 万相资源包
    ArtifactProperty:
      Url: resources/artifact_resources/file/wanx-resource.tar.gz

  OssutilFile:
    ArtifactType: File
    ArtifactName: ossutil
    Description: ossutil 2.0 工具包
    ArtifactProperty:
      Url: resources/artifact_resources/file/ossutil-2.1.0-linux-amd64.zip
